* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f9f9f9;
}

nav {
  width: 100%;
  height: 60px;
  background: rgba(0, 79, 157, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
nav .nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
nav .nav #select {
  width: 150px;
  background-color: rgba(0, 79, 157, 0.8);
  color: #eee;
  border: none;
}
nav .nav #select option {
  color: #eee;
}
nav .nav a {
  text-decoration: none;
}
nav .nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 50px;
}
nav .nav ul a {
  text-decoration: none;
  color: #eee;
  letter-spacing: 3px;
  font-weight: lighter;
}
nav .nav ul a :hover {
  text-decoration: overline;
}
nav .nav .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .nav .cart i {
  color: #eee;
  font-size: 20px;
}
nav .nav .cart span {
  color: #eee;
}
nav h1 {
  color: #eee;
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: bold;
}

section {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
section .item {
  width: 350px;
  border: 1px solid #eee;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 25px 50px -30px rgb(0, 79, 157);
  background-color: rgb(181, 218, 255);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 20px;
}
section .item .item-img {
  width: 350px;
  max-height: 100vh;
}
section .item .item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section .item .item-info {
  text-align: center;
  padding: 20px 0;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
}
section .item .item-info a {
  padding: 10px 30px;
  text-decoration: none;
  color: #eee;
  background: rgba(0, 79, 157, 0.8);
}

#cartBox {
  position: absolute;
  width: 350px;
  max-height: 300px;
  overflow: auto;
  padding: 30px;
  border-radius: 10px;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  right: 150px;
}

#cartItems {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  top: 60px !important;
}

.cart-item {
  width: 100%;
  height: 80px;
  padding: 20px;
  border: 1px solid rgb(181, 218, 255);
  border-radius: 10px;
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  position: relative;
}
.cart-item img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-item h3 {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(0, 79, 157, 0.8);
}
.cart-item span {
  position: absolute;
  bottom: 10px;
  right: 30px;
  color: rgb(181, 218, 255) !important;
}
.cart-item i {
  position: absolute;
  right: 10px;
  top: 10px;
}
.cart-item .plus {
  right: 10px !important;
  font-size: 20px !important;
  color: rgb(181, 218, 255) !important;
  cursor: pointer;
}
.cart-item .minus {
  right: 10px;
  right: 60px !important;
  font-size: 20px !important;
  color: rgb(181, 218, 255) !important;
  cursor: pointer;
}

.p {
  color: rgba(0, 79, 157, 0.8);
}

#totalBox {
  color: rgba(0, 79, 157, 0.8);
  padding: 10px;
}/*# sourceMappingURL=style.css.map */